.center {
  width: 100%;
  margin: auto;
  padding: 10px;
  align-content: center;
}

.row {
  display: inline-block;
  margin: 2%;
  width: 200px;
  border-radius: 20px;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-size: 2em;
}

#productImage {
  width: 100%;
}

.component {
  position: relative;
  height: 150vh;
}

#logo{
  width:300px;
  display: block;
}

#girl{
  width:300px;
  display: block;
  position: absolute;
  right: 0;
}

#title{
  text-align:center;
  color:pink;
  display: block;
  font-family: Frijole;
  font-size: 50px;
}

.imgBox{
  position: relative;
}

.imgBox.heart{
  position: absolute;
  right: 0;
  z-index: 1;
}

.imgBox button:focus {outline:0 !important;}

.show{
  display:block;
}

.hide {
  display: none;
}

body {
  background-image: url('assets/images/bckgrnd.jpg');
}

.layer {
  border-radius: 20px;
  width: 60%;
  display: block;
  background-color: rgba(236, 240, 241, 1);
}

.aboutPage {
  background-image: url('./assets/images/about_pic.jpg');
  background-repeat: no-repeat;
  width: 20%;
}